:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #424f52;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.company-name {
  background-image: linear-gradient(
    45deg,
    #ffd700,
    #ff8c00,
    #ff4500,
    #fc2c77,
    #0072ef,
    #00c7c7,
    #32cd32,
    #8a2be2
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

#app {
  margin: 0 auto;
  text-align: center;

  --max-width: 1920px;
  --bg-color: #213547;
  --bg-color-sub: #2e373a;
  --border-main-color: 1.5px solid rgb(11, 199, 11);

  max-width: var(--max-width);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--bg-color);
  }
}

body {
  margin: 0;
}
